.body {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	gap: 1rem;
}

.input-image {
	padding-top: 1.1rem;
	width: 300px;
	display: flex;
	flex-direction: column;
}

.image-container {
	max-width: 700px;
	max-height: 600px;
	object-fit: contain;
	margin: 0px;
	padding: 0px;
}

.image {
	width: 100%;
}

.size {
	width: 300px;
}
